* {
    font-family: Tahoma, Geneva, sans-serif;
}

body {
    background-color: #18171B;
}

h1 {
    color: #e2e2e2;
}

.dumps {
    margin-top: 90px;
}

.sf-dump {
    border: white solid 1px;
    border-radius: 3px;
}

header {
    height: auto;
    position: fixed;
    top: 0;
    left: 50%;
    background-color: #353535;
    z-index: 999999;
    min-width: 580px;
    width: 50%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: translate(-50%, 0);
    padding: 0 10px;
}

.button {
    margin: 2%;
    padding: 10px 0;
    font-size: 1.4em;
    font-weight: 600;
    background-color: #272727;
    color: #d6d6d6;
    border: 0;
    width: 29.3%;
    outline: 1px #d6d6d6 solid;
}

.button:hover {
    background-color: #383838;
    color: white;
    outline: 1px white solid;
}

button:hover .svg {
    fill: white;
}

.button:active {
    background-color: #d6d6d6;
    color: #272727;
}

button:active .svg {
    fill: #272727;
}

.float {
    float: left;
}

.top {
    position: absolute;
    top: 0;
    margin: 12px 20px;
    color: white;
}

.top-left {
    left: 0;
}

.top-right {
    right: 0;
}

.svg {
    height: 40px;
    width: 40px;
    float: left;
    padding: 10px 0 0 10px;
    fill: #d6d6d6;
}

@media screen and (max-width: 600px) {

    header {
        width: 94%;
        transform: initial;
        left: 0;
        min-width: initial;
        padding: 0% 3%;
        text-align: center;
    }

    .float {
        float: none;
    }

    .button {
        padding: 10px;
        width: auto;
    }

    .button p {
        display: none;
    }

    .dumps {
        margin-top: 40px;
    }

    .svg {
        padding: 0;
        height: 40px;
        width: 40px;
    }

}